/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0D10;
  padding: 0.2px 70px;
  border-bottom: 1px solid #1D1E1F; 
  position: relative;
}

.logo img {
  width: 130px; 
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #727272;
  font-weight: bold;
  text-decoration: none;
}
.links a:hover {
  color: white;
}

.connect-button {
  border-radius: 12px;
  background-color: #289FEF;
  font-weight: 900;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.connect-button:hover {
  padding: 11px 16px;
}

/* Responsive Styles */

/* Adjust layout and padding for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Add some margin for spacing */
  }

  .logo img {
    width: 100px; /* Adjust logo size for mobile */
  }

  .links {
    gap: 10px;
    margin: 10px;
  }

  .connect-button {
    flex-direction: row;
    margin-top: 10px; /* Add margin to separate from logo */
  }
}

